body{
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img{
    width: 20%;
    border-radius: 50%;
    height: auto;
}
.card{
    height: 600px;
    width: 50%;
    padding: 1rem;
    border-radius: 3%;
    background-color: hsl(0, 0%, 12%);
    box-shadow: 0 0 10px hsl(0, 0%, 10%);
    text-align: center;
}
.social-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;       

}
#Github{
    background-color:hsl(0, 0%, 24%);
    color: hsl(0, 21%, 91%);
    width: 80%;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 2px;
    text-decoration: none;
}
#Front-end{
    background-color:hsl(0, 0%, 24%);
    color: hsl(0, 21%, 91%);
    width: 80%;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem;
    text-decoration: none;

}

#Linkedin{
    background-color:hsl(0, 0%, 24%);
    color: hsl(0, 21%, 91%);
    width: 80%;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem;
    text-decoration: none;
}
#Twitter{
    background-color:hsl(0, 0%, 24%);
    color: hsl(0, 21%, 91%);
    width: 80%;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem;
    text-decoration: none;
}

#Instagram{
    background-color:hsl(0, 0%, 24%);
    color: hsl(0, 21%, 91%);
    width: 80%;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem;
    text-decoration: none;
}